/*
    First seen on https://codepen.io/lbebber/
    Remodeled by me
*/

.glitch {
  position:relative;
  margin:0 auto;
}

.glitch::after {
  animation: glitch-anim 2s infinite linear alternate-reverse;
  content: attr(data-text);
  clip:rect(0,900px,0,0); 
  left: 2px;
  position: absolute;
  text-shadow: -1px 0 red;
}

.glitch::before {
  animation: glitch-anim 3s infinite linear alternate-reverse;
  content: attr(data-text);
  clip:rect(0,900px,0,0); 
  left: -2px;
  position: absolute;
  text-shadow: 1px 0 blue;
}

@keyframes glitch-anim {
  $loops: 25;

  @for $i from 0 through $loops {
    #{ percentage($i * (1 / $loops )) } {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0)
    }
  }
}