/* CRT monitor animation inspired from codepen.io/lbebber */
.power-label::after { content: "< power on >"; }

#power-switch:checked ~ header > nav > div > .power-label::after { content: "< power off >"; }

#power-switch ~ .monitor { animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1); animation-fill-mode: forwards; }

#power-switch:checked ~ .monitor { animation: turn-on 4s linear; animation-fill-mode: forwards; }

@keyframes turn-on { 0% { transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 1; }
  3.5% { transform: scale(1, 0.8) translate3d(0, 100%, 0); }
  3.6% { transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1; }
  9% { transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    opacity: 0; }
  11% { transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0; }
  100% { transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1; } }

@keyframes turn-off { 0% { transform: scale(1, 1.3) translate3d(0, 0, 0);
    filter: brightness(1);
    opacity: 1; }
  60% { transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    filter: brightness(10); }
  100% { animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    filter: brightness(50); } }

/* glith effect */
.glitch { position: relative; margin: 0 auto; }

.glitch:not(:hover)::before, .glitch:not(:hover)::after { content: attr(data-text); position: absolute; overflow: hidden; color: inherit; background-color: inherit; }

.glitch:not(:hover)::before { left: 3px; text-shadow: -2px 0 #FF0000; animation-name: glitch-1; animation-duration: 2s; animation-timing-function: linear; animation-delay: 0s; animation-iteration-count: infinite; animation-direction: reverse-alternate; }

.glitch:not(:hover)::after { left: -3px; text-shadow: -2px 0 #0000FF; animation-name: glitch-2; animation-duration: 2s; animation-timing-function: linear; animation-delay: 0s; animation-iteration-count: infinite; animation-direction: reverse-alternate; }

@keyframes glitch-1 { 0% { clip: rect(131px, 350px, 26px, 30px); }
  5% { clip: rect(133px, 350px, 62px, 30px); }
  10% { clip: rect(41px, 350px, 82px, 30px); }
  15% { clip: rect(11px, 350px, 84px, 30px); }
  20% { clip: rect(115px, 350px, 126px, 30px); }
  25% { clip: rect(125px, 350px, 26px, 30px); }
  30% { clip: rect(48px, 350px, 67px, 30px); }
  35% { clip: rect(85px, 350px, 127px, 30px); }
  40% { clip: rect(143px, 350px, 39px, 30px); }
  45% { clip: rect(26px, 350px, 81px, 30px); }
  50% { clip: rect(48px, 350px, 113px, 30px); }
  55% { clip: rect(99px, 350px, 123px, 30px); }
  60% { clip: rect(141px, 350px, 40px, 30px); }
  65% { clip: rect(42px, 350px, 71px, 30px); }
  70% { clip: rect(106px, 350px, 10px, 30px); }
  75% { clip: rect(29px, 350px, 77px, 30px); }
  80% { clip: rect(135px, 350px, 150px, 30px); }
  85% { clip: rect(2px, 350px, 110px, 30px); }
  90% { clip: rect(7px, 350px, 105px, 30px); }
  95% { clip: rect(72px, 350px, 12px, 30px); }
  100% { clip: rect(55px, 350px, 36px, 30px); } }

@keyframes glitch-2 { 0% { clip: rect(26px, 350px, 7px, 30px); }
  5% { clip: rect(129px, 350px, 32px, 30px); }
  10% { clip: rect(125px, 350px, 42px, 30px); }
  15% { clip: rect(115px, 350px, 4px, 30px); }
  20% { clip: rect(45px, 350px, 46px, 30px); }
  25% { clip: rect(143px, 350px, 134px, 30px); }
  30% { clip: rect(137px, 350px, 21px, 30px); }
  35% { clip: rect(139px, 350px, 83px, 30px); }
  40% { clip: rect(126px, 350px, 120px, 30px); }
  45% { clip: rect(40px, 350px, 108px, 30px); }
  50% { clip: rect(147px, 350px, 63px, 30px); }
  55% { clip: rect(96px, 350px, 144px, 30px); }
  60% { clip: rect(87px, 350px, 106px, 30px); }
  65% { clip: rect(97px, 350px, 75px, 30px); }
  70% { clip: rect(84px, 350px, 71px, 30px); }
  75% { clip: rect(125px, 350px, 99px, 30px); }
  80% { clip: rect(83px, 350px, 25px, 30px); }
  85% { clip: rect(109px, 350px, 50px, 30px); }
  90% { clip: rect(94px, 350px, 101px, 30px); }
  95% { clip: rect(147px, 350px, 128px, 30px); }
  100% { clip: rect(70px, 350px, 149px, 30px); } }
